@import url("./loader.css");
@import url("./navbar.css");
@import url("./slider.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Roboto:ital,wght@0,300;0,400;0,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  /* font-family: "Roboto", sans-serif; */
  scroll-behavior: smooth;
}

:root {
  --c-pri: #eb5ea7;
  --c-darker: #74083f;
  --c-light: #ffb5db;
  --c-white: rgb(255, 255, 255);
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--c-pri);
}
body {
  background: linear-gradient(to bottom, var(--c-pri), var(--c-light));
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
section {
  min-height: 100vh;
}

section.landing {
  padding: 30px;
  padding-top: 90px;
}
