@import url("./loader.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --c-pri: #eb5ea7;
  --c-darker: #74083f;
  --c-light: #ffb5db;
  --c-white: rgb(255, 255, 255);
}

body {
  background: linear-gradient(to bottom, var(--c-pri), var(--c-light));
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
