.loader {
  background: linear-gradient(to bottom, var(--c-pri), var(--c-light));
  position: fixed;
  z-index: 99;
  inset: 0;
  flex-direction: column;
  gap: 20px;
  color: white;
  transition: 2s ease;
}
.loader img#kween {
  height: 300px;
  border-radius: 100%;
  border: 3px solid white;
}
.loader h1 {
  font-size: 45px;
}
